{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}Registro Incidente{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('public/gojs/ZoomSlider.css') }}">#}
    <style>
        .btn-group.stick-top.go-to-graphic.affix {
            top: 73px;
            left: 1px;
            z-index: 1000;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('public/gojs/go.js') }}"></script>#}
    <script src="{{ asset('public/js/highcharts/highcharts-3d.js') }}"></script>
    <script src="{{ asset('public/js/highcharts/modules/data.js') }}"></script>
    <script src="{{ asset('public/js/highcharts/modules/drilldown.js') }}"></script>
{% endblock %}
{% block page_content %}
    {{ parent() }}
    <div id="main-wrapper" class="container col-lg-12">
        <div class="page-header margin-none" style="padding-bottom: 0px;margin: 20px 0 -12px;border-bottom: 0;">
				<span class="thumb-sm avatar pull-left" style="margin-top: -5px;">
					{#<img width="100" height="100" class="img-circle" alt="COPEC" src="/public/images/sivv.png" style="margin-left: 3px;">#}
				</span>
            <h1 class="padding-none" style="padding: 25px;border-radius:40px 0 0 40px;">Registro Incidente</h1>

            <div class="btn-group">
                <button id="toggle_task_bar" type="button" class="btn btn-default waves-effect" data-toggle="collapse" data-target="#filter-panel"> <!--		style="float: right;"		-->
                    <span class="glyphicon glyphicon-filter"></span> Filtros & Opciones
                </button>
                <div class="btn-group stick-top go-to-graphic" role="group">
                    <button type="button" class="btn btn-default waves-effect dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-filter"></span>
                        Ir al gráfico
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for key, graphic_group in data_table %}
                            {% set group_index = loop.index %}
                            {% for graphic in graphic_group %}
                            <li><a href="#{{ graphic.id }}_wrapper">#{{ group_index }}.{{ loop.index }} {{ graphic.title }} -> {{ graphic.subtitle }}</a></li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Inicio form de filtros -->
            <div class="well-sm" style="margin-bottom: 15px;" onmouseover="stopTimerToggleTaskBar();">
                <div id="filter-panel" class="filter-panel collapse" aria-expanded="true">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <!-- Nuevo Formulario de Control -->
                            <form id="report_params" class="form-inline" role="form" action="" method="get">
                                <input type="hidden" value="1" id="ci" name="ci">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="fechaInicio" class="">Fecha de inicio </label>
                                            <div class="input-group date col-sm-12" id="dtpFechaInicio" style="color: #222;">
                                                <input type="text" id="fechaInicio" name="fechaInicio" class="form-control requerido required" placeholder="Fecha de inicio">
                                                <span class="input-group-addon">
																				<span class="glyphicon glyphicon-calendar"></span>
																		</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="fechaTermino" class="required">Fecha de término </label>
                                            <div class="input-group date col-sm-12" id="dtpFechaTermino" style="color: #222;">
                                                <input type="text" id="fechaTermino" name="fechaTermino" class="form-control requerido required" placeholder="Fecha de término">
                                                <span class="input-group-addon">
																			<span class="glyphicon glyphicon-calendar"></span>
																		</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-2 pull-right">
                                        <div class="col-sm-6">
                                            <h4>Exportar a  PDF</h4>
                                            <div class="onoffswitch1 center-block">
                                                <input type="checkbox" name="generatePdf" class="onoffswitch1-checkbox" id="generatePdf">
                                                <label class="onoffswitch1-label" for="generatePdf">
                                                    <span class="onoffswitch1-inner"></span>
                                                    <span class="onoffswitch1-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="padding-top: 39px;height: 78px;">
                                            {% if return_file_name_pdf is defined and return_file_name_pdf %}
                                                <a class="btn icon-btn btn-info waves-effect waves-light" href="#" id="btn-exp-pdf">
                                                    <span class="glyphicon btn-glyphicon glyphicon-save img-circle text-info"></span> Descargar
                                                </a>
                                                <script>
                                                    $("#btn-exp-pdf").click(function () {
                                                        var xhttp = new XMLHttpRequest();
                                                        xhttp.onreadystatechange = function() {
                                                            var a;
                                                            if (xhttp.readyState === 4 && xhttp.status === 200) {
                                                                // Trick for making downloadable link
                                                                a = document.createElement('a');
                                                                a.href = window.URL.createObjectURL(xhttp.response);
                                                                // Give filename you wish to download
                                                                a.download = "{{ return_file_name_pdf }}";
                                                                a.style.display = 'none';
                                                                document.body.appendChild(a);
                                                                a.click();
                                                            }
                                                        };
                                                        // Post data to URL which handles post request
                                                        xhttp.open("GET", '/downloads/' + "{{ return_file_name_pdf }}");
                                                        xhttp.setRequestHeader("Content-Type", "application/json");
                                                        // You should set responseType as blob for binary responses
                                                        xhttp.responseType = 'blob';
                                                        xhttp.send(); //JSON.stringify(data)
                                                    });
                                                </script>
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-6">
                                            <h4>Exportar a Excel</h4>
                                            <div class="onoffswitch1 center-block">
                                                <input type="checkbox" name="generateExcel" class="onoffswitch1-checkbox" id="generateExcel">
                                                <label class="onoffswitch1-label" for="generateExcel">
                                                    <span class="onoffswitch1-inner"></span>
                                                    <span class="onoffswitch1-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="padding-top: 39px;height: 78px;">
                                            {% if return_file_name_excel is defined and return_file_name_excel %}
                                                <a class="btn icon-btn btn-info waves-effect waves-light" href="#" id="btn-exp-xls">
                                                    <span class="glyphicon btn-glyphicon glyphicon-save img-circle text-info"></span> Descargar
                                                </a>
                                                <script>
                                                    $("#btn-exp-xls").click(function () {
                                                        var xhttp = new XMLHttpRequest();
                                                        xhttp.onreadystatechange = function() {
                                                            var a;
                                                            if (xhttp.readyState === 4 && xhttp.status === 200) {
                                                                // Trick for making downloadable link
                                                                a = document.createElement('a');
                                                                a.href = window.URL.createObjectURL(xhttp.response);
                                                                // Give filename you wish to download
                                                                a.download = "{{ return_file_name_excel }}";
                                                                a.style.display = 'none';
                                                                document.body.appendChild(a);
                                                                a.click();
                                                            }
                                                        };
                                                        // Post data to URL which handles post request
                                                        xhttp.open("GET", '/downloads/' + "{{ return_file_name_excel }}");
                                                        xhttp.setRequestHeader("Content-Type", "application/json");
                                                        // You should set responseType as blob for binary responses
                                                        xhttp.responseType = 'blob';
                                                        xhttp.send(); //JSON.stringify(data)
                                                    });
                                                </script>
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-12">
                                            <h4>Aplicar filtros</h4>
                                            <div class="form-group">
                                                <button id="btn_submit" type="submit" class="btn icon-btn btn-warning waves-effect waves-light">
                                                    <span class="glyphicon btn-glyphicon glyphicon-play-circle img-circle text-info"></span> Generar reporte
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin form de filtros -->
        </div>
        <div>
            <style>
                .table>thead>tr>th {
                    vertical-align: middle;
                }
                .col9{
                    background-color: cornsilk;
                }
            </style>

            {{ include('dashboard/siv/reportes/registro_incidente/graphics.html.twig') }}

        </div>
        <div class="col-xs-12 keeptogether force_row" style="height: 95px;">
            <div class="col-xs-4 pull-left">
                <div class="pull-left" style="height: 65px;width: 150px;background-image: url('{{ asset('public/images/concessions/HCSQELGZDdo') }}'); background-size: contain;background-repeat: no-repeat;"></div>
                {#<img class="pull-left" src="{{ asset('public/images/concessions/HCSQELGZDdo') }}" style="background-color: #FFFFFF;padding: 5px;margin-top: -16px;border-radius: 3px 3px 3px 3px !important;background-image: -webkit-linear-gradient(top,#fff 0,#f8f8f8 100%);background-image: -o-linear-gradient(top,#fff 0,#f8f8f8 100%);background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);background-repeat: repeat-x;-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0, 0, 0, 0.69);">#}
            </div>
            <div class="col-xs-4 center-block text-center">
                <p>Sociedad Concesionaria Costanera Norte</p>
            </div>
            <div class="col-xs-4">
                <div class="pull-right" style="height: 95px;width: 143px;background-image: url('{{ asset('public/images/coordinacion_concesiones_obras_publicas.jpg') }}'); background-size: contain;background-repeat: no-repeat;"></div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts_footer  %}
    {{ parent() }}
    <script>
        $('.stick-top').affix({
            offset: {top: 300}
        });
        var stickyHeaderOffsetY =0;
        var $table = $('#table');

        var stoped=false;
        var timer_toggle_task_bar;
        function stopTimerToggleTaskBar() {
            if(!stoped){
                timer_toggle_task_bar.stop();
                stoped=true;
                //console.log('stop timer');
            }
        }

        jQuery(document).ready(function() {
            timer_toggle_task_bar = d3.timeout(function () {
                $("#toggle_task_bar").trigger("click");
            }, 600);
        });

        function queryParams(params) {
            params.fecha_inicio = $('#fechaInicio').val();
            params.fecha_termino = $('#fechaTermino').val();
            jsDump('queryParams: ' + JSON.stringify(params))
            return params
        }

        $(function() {
            $('.bootstrapTable').bootstrapTable();

            if ( $('.navbar-fixed-top').css('height') ) {
                stickyHeaderOffsetY = +$('.navbar-fixed-top').css('height').replace('px','');
            }
            if ( $('.navbar-fixed-top').css('margin-bottom') ) {
                stickyHeaderOffsetY += +$('.navbar-fixed-top').css('margin-bottom').replace('px','');
            }
        });

        $.extend($.fn.bootstrapTable.columnDefaults, {
            search: true,
            stickyHeader: true,
            stickyHeaderOffsetY: stickyHeaderOffsetY + 'px',
            sortable: true
        });

        $(function () {
            $('#dtpFechaInicio').datetimepicker({
                useCurrent: false,
                locale: 'es',
                format: 'DD-MM-YYYY HH:mm:ss'
            });
            $('#dtpFechaTermino').datetimepicker({
                useCurrent: false, //Important! See issue #1075
                locale: 'es',
                format: 'DD-MM-YYYY HH:mm:ss'
            });
            $("#dtpFechaInicio").on("dp.change", function (e) {
                $('#dtpFechaTermino').data("DateTimePicker").minDate(e.date);
                //validarFechaInicio();
            });
            $("#dtpFechaTermino").on("dp.change", function (e) {
                $('#dtpFechaInicio').data("DateTimePicker").maxDate(e.date);
                //validarFechaTermino();
            });
        });
        jQuery(document).ready(function() {
            /*
             ANTES DE ENVIAR EL FORMULARIO VERIFICO QUE LA INFORMACIÓN SEA INTEGRA Y COHERENTE
             */
            $("#report_params").submit(function() {
                if(validaRequeridos()){
                    $.notify(
                        "Espere un momento mientras se genera el reporte...",
                        {  style: 'custom', className: 'success', position:"bottom right" }
                    );
                    return true;
                }
                else
                {
                    $.notify(
                        "Por favor ingrese los datos requeridos, verifique la información e intente nuevamente.",
                        {  style: 'bootstrap', className: 'warn', position:"bottom right" }
                    );
                    return false;
                }
            });

            {% if fechaInicio %}
            var fechaInicio = '{{ fechaInicio }}';
            $('#fechaInicio').val(fechaInicio);
            {% endif %}

            {% if fechaTermino %}
            var fechaTermino = '{{ fechaTermino }}';
            $('#fechaTermino').val(fechaTermino);
            {% endif %}

        });
    </script>
{% endblock %}