<style>
    .device_indeterminate {
        text-shadow: 0 1px 0 #fff;
        background-image: -webkit-linear-gradient(top,#f7f7f7 0,#777 100%);
        background-image: -o-linear-gradient(top,#f7f7f7 0,#777 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#f7f7f7),to(#777));
        background-image: linear-gradient(to bottom,#f7f7f7 0,#777 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#777', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        background-repeat: repeat-x;
        border-color: #ccc;
        color: black;
    }
</style>

{% for tipo_dispositivo in tipos_dispositivos %}
    {% set type_devices_count = 0 %}
    {% set type_devices_count_u = 0 %}

    {% for dispositivo in dispositivos %}
        {% if dispositivo.idTipo.id ==  tipo_dispositivo.id %}
            {# Análisis de sensores SOS para determinar estado general #}
            {% set atrs = dispositivo.atributos %}
            {% set estado_gral_sensores = 1 %} {# 1 significa OK #}

            {% if atrs.sos_sensors is defined %}
                {% if atrs.sos_sensors.f_all_prt is defined %}
                    {% if atrs.sos_sensors.f_all_prt == 1 %}
                        {% set estado_gral_sensores = 0 %}
                    {% endif %}
                {% endif %}
                {% if atrs.sos_sensors.f_all_est is defined %}
                    {% if atrs.sos_sensors.f_all_est == 1 %}
                        {% set estado_gral_sensores = 0 %}
                    {% endif %}
                {% endif %}
                {% if atrs.sos_sensors.f_all_idr is defined %}
                    {% if atrs.sos_sensors.f_all_idr == 1 %}
                        {% set estado_gral_sensores = 0 %}
                    {% endif %}
                {% endif %}
                {% if atrs.sos_sensors.f_all_bat is defined %}
                    {% if atrs.sos_sensors.f_all_bat == 1 %}
                        {% set estado_gral_sensores = 0 %}
                    {% endif %}
                {% endif %}
                {% if atrs.sos_sensors.f_all_est2 is defined %}
                    {% if atrs.sos_sensors.f_all_est2 == 1 %}
                        {% set estado_gral_sensores = 0 %}
                    {% endif %}
                {% endif %}
                {% if atrs.sos_sensors.f_all_srv is defined %}
                    {% if atrs.sos_sensors.f_all_srv == 1 %}
                        {% set estado_gral_sensores = 0 %}
                    {% endif %}
                {% endif %}
            {% else %}
                {% set estado_gral_sensores = 2 %}
            {% endif %}

            {% set type_devices_count = type_devices_count + 1 %}
            {% if estado_gral_sensores ==  0 %}
                {% set type_devices_count_u = type_devices_count_u + 1 %}
            {% endif %}
        {% endif %}
    {% endfor %}

    <div id="cot-main-wrapper_type_{{ tipo_dispositivo.id }}" class="container grid-item col-md-6 col-lg-{{ grid_items_width }}">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">
                {% if grid_items_width == 2 %}{{ tipo_dispositivo.tipo|slice(0, 15) }}...{% else %}{{ tipo_dispositivo.tipo }}{% endif %}
               <span class="pull-right">
                   <span id="count_unactive_type_{{ tipo_dispositivo.id }}" class="badge status_count btn-danger waves-effect waves-light">{{ type_devices_count_u }}</span><span id="count_total_type_{{ tipo_dispositivo.id }}" style="font-size: 18px;">/{{ type_devices_count }}</span>
               </span>
            </h1>
        </div>

    <div class="devices_grid">
        <div class="devices_grid_sizer"></div>
        {% for dispositivo in dispositivos %}
            {% if dispositivo.idTipo.id ==  tipo_dispositivo.id %}
                {# NO OPC: Si es diferente de metodo OPC se carga vista normal #}
                {% if tipo_dispositivo.metodoMonitoreo not in [3,4] %}

                    {# Análisis de sensores SOS para determinar estado general #}
                    {% set atrs = dispositivo.atributos %}
                    {% set estado_gral_sensores = 1 %} {# 1 significa OK #}

                    {% if atrs.sos_sensors is defined %}
                        {% if atrs.sos_sensors.f_all_prt is defined %}
                            {% if atrs.sos_sensors.f_all_prt == 1 %}
                                {% set estado_gral_sensores = 0 %}
                            {% endif %}
                        {% endif %}
                        {% if atrs.sos_sensors.f_all_est is defined %}
                            {% if atrs.sos_sensors.f_all_est == 1 %}
                                {% set estado_gral_sensores = 0 %}
                            {% endif %}
                        {% endif %}
                        {% if atrs.sos_sensors.f_all_idr is defined %}
                            {% if atrs.sos_sensors.f_all_idr == 1 %}
                                {% set estado_gral_sensores = 0 %}
                            {% endif %}
                        {% endif %}
                        {% if atrs.sos_sensors.f_all_bat is defined %}
                            {% if atrs.sos_sensors.f_all_bat == 1 %}
                                {% set estado_gral_sensores = 0 %}
                            {% endif %}
                        {% endif %}
                        {% if atrs.sos_sensors.f_all_est2 is defined %}
                            {% if atrs.sos_sensors.f_all_est2 == 1 %}
                                {% set estado_gral_sensores = 0 %}
                            {% endif %}
                        {% endif %}
                        {% if atrs.sos_sensors.f_all_srv is defined %}
                            {% if atrs.sos_sensors.f_all_srv == 1 %}
                                {% set estado_gral_sensores = 0 %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% set estado_gral_sensores = 2 %}
                    {% endif %}

                    <div id="device_{{ dispositivo.id }}" title="{{ dispositivo.ip }}" class="col-sm-1 text-center pull-left devices_grid_item cot_device_container btn icon-btn type_{{ tipo_dispositivo.id }}
                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN_COT') or is_granted('ROLE_SU_COT') or real_mode %}
                        {% if estado_gral_sensores == 1 %}
                        {% set active_devices_count = active_devices_count +1 %}
                        device_active btn-success waves-effect waves-light
                        {% elseif estado_gral_sensores == 0 %}
                        {% set unactive_devices_count = unactive_devices_count +1 %}
                        device_unactive btn-danger waves-effect waves-light
                        {% elseif estado_gral_sensores == 2 %}
                        hidden
                        {% endif %}
                    {% else %}
                    {% if dispositivo.supervisado == 1 %}
                        {% set active_devices_count = active_devices_count +1 %}
                        device_active btn-success waves-effect waves-light
                    {% elseif dispositivo.supervisado == 0 %}
                        {% set unactive_devices_count = unactive_devices_count +1 %}
                        device_unactive btn-danger waves-effect waves-light
                        {% elseif dispositivo.supervisado == 2 %}
                        hidden
                        {% endif %}
                    {% endif %}"
                         data-id="{{ dispositivo.id }}"
                         data-id_tipo="{{ dispositivo.idTipo.id  }}"
                         data-nombre_tipo="{{ dispositivo.idTipo.tipo  }}"
                         data-ip="{{ dispositivo.ip }}"
                         data-nombre="{{ dispositivo.nombre }}"
                         data-descripcion="{{ dispositivo.descripcion }}"
                         data-km="{{ dispositivo.km|number_format(3, ',', '.') }}"
                         data-eje="{{ dispositivo.eje.nombre }}"
                         data-tramo="{{ dispositivo.tramo.nombre }}"
                         data-orientacion="{{ dispositivo.orientacion }}"
                         data-estado="{{ estado_gral_sensores }}"
                         data-supervisado=""
                         data-concesionaria=""
                         data-atributos=""
                         data-nupdates="0">
                        <i class="fa fa-fire-extinguisher btn-glyphicon img-circle btn_circle_icon_left"></i>
                        <div class="btn_circle_text">
                            {% if dispositivo.idTipo.id != 3 %}
                                {{ dispositivo.nombre }}
                            {% else %}
                                {{ dispositivo.descripcion }}
                            {% endif %}
                        </div>
                    </div>

                {% elseif tipo_dispositivo.metodoMonitoreo == 3 %}
                    {# SI OPC: Si metodo == OPC se carga vista OPC #}
                    <div id="device_{{ dispositivo.id }}" title="{{ dispositivo.nombre }}" class="col-sm-1 text-center pull-left devices_grid_item opc_device_container btn icon-btn type_{{ tipo_dispositivo.id }}
                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN_COT') or is_granted('ROLE_SU_COT') or real_mode %}
                        {% if estado_gral_sensores == 1 %}
                        {% set active_devices_count = active_devices_count +1 %}
                        device_active btn-success waves-effect waves-light
                        {% elseif estado_gral_sensores == 0 %}
                        {% set unactive_devices_count = unactive_devices_count +1 %}
                        device_unactive btn-danger waves-effect waves-light
                        {% elseif estado_gral_sensores == 2 %}
                        device_indeterminate waves-effect waves-dark
                        {% elseif estado_gral_sensores == -1 %}
                        hidden
                        {% endif %}
                    {% else %}
                    {% if dispositivo.supervisado == 1 %}
                        {% set active_devices_count = active_devices_count +1 %}device_active btn-success waves-effect waves-light
                    {% elseif dispositivo.supervisado == 0 %}
                        {% set unactive_devices_count = unactive_devices_count +1 %}device_unactive btn-danger waves-effect waves-light
                        {% elseif dispositivo.supervisado == 2 %}hidden
                        {% endif %}
                    {% endif %}"
                         data-id="{{ dispositivo.id }}"
                         data-id_tipo="{{ dispositivo.idTipo.id  }}"
                         data-nombre_tipo="{{ dispositivo.idTipo.tipo  }}"
                         data-ip="{{ dispositivo.ip }}"
                         data-nombre="{{ dispositivo.nombre }}"
                         data-descripcion="{{ dispositivo.descripcion }}"
                         data-km="{{ dispositivo.km|number_format(3, ',', '.') }}"
                         data-eje="{{ dispositivo.eje.nombre }}"
                         data-tramo="{{ dispositivo.tramo.nombre }}"
                         data-orientacion="{{ dispositivo.orientacion }}"
                         data-estado="{{ estado_gral_sensores }}"
                         data-supervisado=""
                         data-concesionaria=""
                         data-atributos=""
                         data-nupdates="0">
                        <div style="width: 100%;">
                            <i class="fa {{ dispositivo.idTipo.icono }} btn-glyphicon img-circle btn_circle_icon_left" style="margin:0 1px 0 0;"></i>
                            <div class="btn_circle_text">
                                {{ dispositivo.nombre }}
                            </div>
                        </div>
                        <div class="opc_vars_container">
                            {% set opc_vars = dispositivo.atributos %}

                            {% if opc_vars.opc_vars is defined %}
                                {% for opc_var in opc_vars.opc_vars %}
                                    <span id="{{ opc_var.opc_var|replace({'/': '-', '.': '-', '!': '-', ' ': '-'}) }}" class="col-lg-12 text-center pull-left opc_var_device_container btn icon-btn
                                        {% if opc_var.opc_value == opc_var.result_success_value %}
                                        device_active btn-success waves-effect waves-light
                                        {% elseif opc_var.opc_value == 2 %}
                                        device_indeterminate waves-effect waves-dark
                                        {% else %}
                                        device_unactive btn-danger waves-effect waves-light
                                        {% endif %}
                                    " title="{{ opc_var.opc_var }}">
                                    <i class="fa fa-microchip btn-glyphicon img-circle btn_circle_icon_left"></i>
                                    <div class="btn_circle_text">{{ opc_var.name }}</div>
                                </span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    {% elseif tipo_dispositivo.metodoMonitoreo == 4 %}
                    {# SI Espiras #}
                    <div id="device_{{ dispositivo.id }}" title="{{ dispositivo.nombre }}" class="col-sm-1 text-center pull-left devices_grid_item opc_device_container btn icon-btn type_{{ tipo_dispositivo.id }}
                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN_COT') or is_granted('ROLE_SU_COT') or real_mode %}
                        {% if estado_gral_sensores == 1 %}
                        {% set active_devices_count = active_devices_count +1 %}
                        device_active btn-success waves-effect waves-light
                        {% elseif estado_gral_sensores == 0 %}
                        {% set unactive_devices_count = unactive_devices_count +1 %}
                        device_unactive btn-danger waves-effect waves-light
                        {% elseif estado_gral_sensores == 2 %}
                        hidden
                        {% endif %}
                    {% else %}
                    {% if dispositivo.supervisado == 1 %}
                        {% set active_devices_count = active_devices_count +1 %}device_active btn-success waves-effect waves-light
                    {% elseif dispositivo.supervisado == 0 %}
                        {% set unactive_devices_count = unactive_devices_count +1 %}device_unactive btn-danger waves-effect waves-light
                        {% elseif dispositivo.supervisado == 2 %}hidden
                        {% endif %}
                    {% endif %}"
                         data-id="{{ dispositivo.id }}"
                         data-id_tipo="{{ dispositivo.idTipo.id  }}"
                         data-nombre_tipo="{{ dispositivo.idTipo.tipo  }}"
                         data-ip="{{ dispositivo.ip }}"
                         data-nombre="{{ dispositivo.nombre }}"
                         data-descripcion="{{ dispositivo.descripcion }}"
                         data-km="{{ dispositivo.km|number_format(3, ',', '.') }}"
                         data-eje="{{ dispositivo.eje.nombre }}"
                         data-tramo="{{ dispositivo.tramo.nombre }}"
                         data-orientacion="{{ dispositivo.orientacion }}"
                         data-estado="{{ estado_gral_sensores }}"
                         data-supervisado=""
                         data-concesionaria=""
                         data-atributos="{{ estado_gral_sensores|json_encode }}"
                         data-nupdates="0">
                        <div style="width: 100%;">
                            <i class="fa {{ dispositivo.idTipo.icono }} btn-glyphicon img-circle btn_circle_icon_left" style="margin:0 1px 0 0;"></i>
                            <div class="btn_circle_text">
                                {{ dispositivo.nombre }}
                            </div>
                        </div>
                        <div class="opc_vars_container">
                            {% set obj_vars = dispositivo.atributos %}

                            {% if obj_vars.sensors is defined %}
                                {% for obj_var in obj_vars.sensors %}
                                    <span id="esp_{{ dispositivo.id }}_sen_{{ obj_var.id }}" class="col-lg-12 text-center pull-left opc_var_device_container btn icon-btn
                                        {% if obj_var.value > obj_var.value_is_more_than %}
                                        device_active btn-success waves-effect waves-light
                                        {% else %}
                                        device_unactive btn-danger waves-effect waves-light
                                        {% endif %}
                                    " title="{{ obj_var.name }}">
                                    <i class="fa fa-microchip btn-glyphicon img-circle btn_circle_icon_left"></i>
                                    <div class="btn_circle_text">{{ obj_var.name }}</div>
                                </span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    </div>
{% endfor %}
