{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Reportes sensores SOS{% endblock %}

{% block page_content %}
<style>
    .btn-group.stick-top.go-to-graphic.affix {
        top: 73px;
        left: 1px;
        z-index: 1000;
    }
    .bootstrap-table.fullscreen .fixed-table-toolbar {
        background: #333;
    }
    .bg-white{
        background-color: rgba(255, 255, 255, 0.02) !important;
    }
</style>

<script src="{{ asset('public/jquery/plugins/file_dialog/bootstrap.fd.js') }}"></script>
<script src="{{ asset('public/josecebe-twbs-pagination/jquery.twbsPagination.min.js') }}"></script>
<script src="{{ asset('public/bootstrap-table/extensions/cookie/bootstrap-table-cookie.js') }}"></script>
<script src="{{ asset('public/ae/js/plugins/jquery-validation/jquery.validate.js') }}"></script>
<script src="{{ asset('public/ae/js/plugins/jquery-validation/localization/messages_es_CL.js') }}"></script>

<div id="main-wrapper" class="container col-lg-12">
    <div class="page-header margin-none" style="padding-bottom: 0px;margin: 20px 0 -12px;border-bottom: 0;">
        <span class="thumb-sm avatar pull-left" style="margin-top: -5px;"></span>
        <h1 class="padding-none" style="padding: 25px;border-radius:40px 0 0 40px;">Reportes sensores SOS</h1>
    </div>
    <div>
        <style>
            .table>thead>tr>th {
                vertical-align: middle;
            }
            .col9{
                background-color: cornsilk;
            }
        </style>
        {{ include('dashboard/cot/sensors_alarms/report/contenedor_tabla.html.twig') }}
    </div>
</div>

<script>
    jQuery(document).ready(function() {
        /*
         ANTES DE ENVIAR EL FORMULARIO VERIFICO QUE LA INFORMACIÓN SEA INTEGRA Y COHERENTE
         */
        $("#report_params").submit(function() {
            if(validaRequeridos()){
                $.notify(
                    "Espere un momento mientras se genera el reporte...",
                    {  style: 'custom', className: 'success', position:"bottom right" }
                );
                return true;
            }
            else
            {
                $.notify(
                    "Por favor ingrese los datos requeridos, verifique la información e intente nuevamente.",
                    {  style: 'bootstrap', className: 'warn', position:"bottom right" }
                );
                return false;
            }
        });
        SetPTTimer()
    });
    /********************
     * Timer de ejecución periodica para ...
     * ******************/
    var omit_refresh_on_focus = 0;
    var cot_devices_timer_interval;
    function SetPTTimer(){
        var interval = $('#timer-range-ajax-update').val() * 1000;
        //console.log('nuevo intervalo ' + interval + ' ' +  new Date() );

        cot_devices_timer_interval = setInterval(function () {
            if($('#actualizacionAutomatica').is(":checked")) {
                /***
                 * Funciones a ejecutar en intervalos de tiempo
                 */

                if(omit_refresh_on_focus >= 3){
                    omit_refresh_on_focus = 0;
                   $("#toggle_task_bar").trigger('click');
                    $.notify(
                        "Se omitió la actualización de datos durante tres ciclos, mientras seleccionaba filtros",
                        {style: 'bootstrap', className: 'warn', position: "top right"}
                    );
                    $.notify(
                        "Actualizando ahora...",
                        {style: 'bootstrap', className: 'success', position: "top right"}
                    );
                }

                if(isFilterPanelIsFocused() === false){
                    getReportSensorData();
                }
                else {
                    omit_refresh_on_focus++;
                    jsDump('hay un control enfocado')
                }

            }
            /***
             * Funciones a ejecutar siempre
             */

        },interval);
    }

    function isFilterPanelIsFocused() {
        var result = false;
        $(".filter_panel_control").each(function () {
            if($(this).hasClass("selectpicker")){
                if($(this).closest('.bootstrap-select').hasClass("open")){
                    result = true;
                }
            }
            if($(this).is(":focus")){
                result = true;
            }
        });
        return result;
    }

    var toolbarIsToggle = $('#filter-panel').hasClass('in');
    var tableIsFullscreen = $('#tbl_pt').closest('div.bootstrap-table').hasClass('fullscreen');


    function getReportSensorData() {
        //clearInterval(cot_devices_timer_interval);
        toolbarIsToggle = $('#filter-panel').hasClass('in');
        tableIsFullscreen = $('#tbl_pt').closest('div.bootstrap-table').hasClass('fullscreen');
        var data = {
            action:'ajax',
            toolbarIsToggle: toolbarIsToggle,
            tableIsFullscreen: tableIsFullscreen,
            fechaInicio: $('#fechaInicio').val(),
            fechaTermino: $('#fechaTermino').val(),
            filasPorPagina: $('#ccbRowsPerPage').val(),
            regStatus: $('#regStatus').val(),
            alarmType: $('#alarmType').val(),
            searchTxt: $('#searchTxt').val(),
            token: "{{ csrf_token('ajax-bs') }}",
            search: $('.search input').val(),
            autoUpdate: $('#actualizacionAutomatica').is(":checked"),
            autoUpdateInterval: $('#timer-range-ajax-update').val(),
            rowsPerPage: $('#rowsPerPage').val(),
            currentPage: $('#pagination_fra').twbsPagination('getCurrentPage'),
        };

        $.ajax({
            url: "{{ path('cot_sos_report_status') }}",
            type: "POST",
            data: data,
            async: true,
            success: function (html) {
                if (html) {
                    if ($(html).find('#pt_table_container').length > 0) {
                        $('#pt_table_container').replaceWith($(html).find('#pt_table_container'));
                        if(tableIsFullscreen){
                            $('#pt_table_container').find('button[name="fullscreen"]').trigger('click');
                            setHeight(); //.bootstrapTable('toggleFullscreen');
                        }
                        else{
                            $('.fixed-table-container').css("height", '100%');
                        }
                        //$('#pt_table_container').find('button[name="fullscreen"]').trigger('click');
                    }
                    else {
                        $.notify(
                            "pt_table_container Ha ocurrido un error al intentar procesar los datos. Intente recargar la página.",
                            {style: 'bootstrap', className: 'error', position: "top right"}
                        );
                    }
                    $('.selectpicker').selectpicker('render');
                }
                else {
                    $.notify(
                        "HTML Ha ocurrido un error al intentar procesar los datos. Intente recargar la página.",
                        {style: 'bootstrap', className: 'error', position: "top right"}
                    );
                }

            },
            error: function () {
                $.notify(
                    "Error Ha ocurrido un error al intentar procesar los datos. Intente recargar la página.",
                    {style: 'bootstrap', className: 'error', position: "top right"}
                );
            }
        });
    }
    /**********************
     * Se Añade Handler Responsive de redimención de la ventana y sus elementos
     ***********************/
    $( window ).resize(function() {
        setHeight();
    });
    function setHeight() {
        // Returns height of browser viewport
        var height = $(window).height();
        jsDump(height);
        $('.fixed-table-container').css("height", (height - 56) + 'px');
    }
//
    function param(object)
    {
        var parameters = [];
        for (var property in object) {
            if (object.hasOwnProperty(property)) {
                parameters.push(encodeURI(property + '=' + object[property]));
            }
        }

        return parameters.join('&');
    }
    function downloadPtList() {
        var path_url = "{{ path('cot_sos_report_status')}}",
            fechaInicio= $('#fechaInicio').val(),
            fechaTermino = $('#fechaTermino').val(),
            regStatus = $('#regStatus').val();

        var params = {
            action:'excel',
            fechaInicio: $('#fechaInicio').val(),
            fechaTermino: $('#fechaTermino').val(),
            searchTxt: $('#searchTxt').val(),
            regStatus: $('#regStatus').val(),
            alarmType: $('#alarmType').val(),
            token: '{{ csrf_token('pdf-list') }}'
        };

        path_url = path_url + '?'+ $.param(params);
        //console.log(path_url);
        // Data to get
        {#  //https://stackoverflow.com/questions/16086162/handle-file-download-from-ajax-post  #}
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            var a;
            if (xhttp.readyState === 4 && xhttp.status === 200) {
                a = document.createElement('a');
                a.href = window.URL.createObjectURL(xhttp.response);
                a.download = "Registro alarmas sensores SOS.xlsx";
                a.style.display = 'none';
                document.body.appendChild(a);
                a.click();
            }
        };
        xhttp.onerror = function () {
            $.notify(
                "Ha ocurrido un error al intentar descargar el archivo.",
                {  style: 'bootstrap', className: 'error', position:"top right" }
            );
        };
        xhttp.open("GET", path_url);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.setRequestHeader('Cache-Control', 'no-cache');
        xhttp.responseType = 'blob';
        xhttp.send();
    }
</script>

{% endblock %}